* {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
	background-color: #910e00;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position:top;
}
#wrapper {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
#wrapper #header {
	height: 290px;
	width: 900px;
}
#content {
	background-image: none;
	height: 600px;
	width: 860px;
	margin: 0px;
	padding: 20px;
}

a {
	outline: 0;
}
#teamsleft {
	float: left;
	height: auto;
	width: 500px;
}
#bar {
	float: right;
	height: auto;
	width: 300px;
}
#footer {
	background-color: #FFF;
	height: 200px;
	width: 820px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.contentheader {
	padding: 10px;
	height: 50px;
}
.style1 {
	font-size: 11px;
}
.style2 {
	font-size: 12px;
	line-height: 16px;
}

.vote-bar {
	background-color: red;
	float: left;
	height:28px;
	margin: 0 10px 0 0;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

table td {
	
	height: 40px;
}

.sweet16-team-row {
	text-align: center;
	width: 250px;
}

.sweet16-end-row-l {
	background-color: #F0F0F0;
	width: 239px;
}

.sweet16-end-row-r {
	background-color: #F0F0F0;
	border-left: 3px solid #CBCBCB;
	width: 29px;
}

#confirm {
	width: 820px;
	background-color: white;
	padding: 20px;
}

#voter-info, #voter-pay {
	margin-top: 20px
}

#voter-pay {
	margin-top: 50px;
}

#voter-info td {
	width: 200px;
}

#voter-pay td {
	text-align: center;
	width: 300px;
}

.num_votes {
	width:30px;
	height: 18px;
	margin: 0 4px 0 0;
	border: 1px solid #999;
	text-align: center;
	font-size: 14px;
}

