* {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
	background-color: #910e00;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position:top;
}
#wrapper {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
#wrapper #header {
	height: 290px;
	width: 900px;
}
#content {
	background-image: none;
	height: 600px;
	width: 860px;
	margin: 0px;
	padding: 20px;
}

a {
	outline: 0;
}
#teamsleft {
	float: left;
	height: auto;
	width: 500px;
}
#bar {
	float: right;
	height: auto;
	width: 300px;
}
#footer {
	background-color: #FFF;
	height: 200px;
	width: 820px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.contentheader {
	/*padding: 10px;*/
	/* height: 50px; */
	padding: 20px 24px 40px 24px;
}
.style1 {
	font-size: 11px;
}
.style2 {
	font-size: 12px;
	line-height: 16px;
}

.vote-bar {
	background-color: red;
	float: left;
	height:28px;
	margin: 0 10px 0 0;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

table td {
	
	height: 50px;
}

.sweet16-team-row {
	text-align: center;
	width: 250px;
}

.sweet16-end-row-l {
	background-color: #F0F0F0;
	width: 239px;
}

.sweet16-end-row-r {
	background-color: #F0F0F0;
	border-left: 3px solid #CBCBCB;
	width: 29px;
}

#confirm {
	width: 820px;
	background-color: white;
	padding: 20px;
}

#voter-info, #voter-pay {
	margin-top: 20px
}

#voter-pay {
	margin-top: 50px;
}

#voter-info td {
	width: 200px;
}

#voter-pay td {
	text-align: center;
	width: 300px;
}

.num_votes {
	width:30px;
	height: 24px;
	margin: 0 4px 0 0;
	border: 1px solid #999;
	text-align: center;
	font-size: 14px;
}

.vote-submit {
	font-size: 16px;
    padding: 10px 10px;
    margin: 10px 0px 20px 140px;
    background: #4479BA;
    clear: both;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.vote-submit:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.vote-submit:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;	
}

.confirm-submit {
    padding: 10px 15px;
    background: #4479BA;
    clear: both;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.confirm-submit:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.confirm-submit:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;	
}

#error-msg {
	background: #fff799; 
	border: 1px solid #fdc689; 
	clear: both;
	padding: 10px 15px; 
	font-size: 14px; 
	line-height: 1.5em; 
	margin: 0px auto; 
	text-align: center;
	color: #333;
	width: 80%;
}